.graph-container{
    background-color: rgb(255, 255, 255);
    /* height: 310px; */
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 40px;
    color: #5d5d5d;
    color : #e1e1e1
}

/* canvas{
    width: 45% !important;
} */



